# WARNING: If you edit this file in Intellij, it is going to inject spaces surrounding
#  the equals signs and make these overrides stop working.
[*.{kt,kts}]
# possible values: number (e.g. 2), "unset" (makes ktlint ignore indentation completely)
indent_size = 4
# true (recommended) / false
insert_final_newline = true
# possible values: number (e.g. 120) (package name, imports & comments are ignored), "off"
# it's automatically set to 100 on `ktlint --android ...` (per Android Kotlin Style Guide)
max_line_length = 120
# Disabled because the order in which Intellij does imports and the lexicographic ordering
#  requirement of ktlint can't be brought into sync
ktlint_standard_import_ordering = disabled
ktlint_standard_no_consecutive_comments = disabled
ktlint_standard_filename = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_ident = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled

ktlint_standard_no-blank-line-in-list = disabled
ktlint_function_signature_rule_force_multiline_when_parameter_count_greater_or_equal_than = 4

[build/**]
ktlint = disabled
